html, body, #root, .App, .App>div, .game-container {
  height: 100%;
}

.App {
  text-align: center;
}

@font-face {
  font-family: 'Nippo';
  src: local('Nippo'), url(./fonts/Nippo.woff) format('woff');
}

@font-face {
  font-family: 'General Sans Medium';
  src: local('General Sans Medium'), url(./fonts/GeneralSansMedium.woff) format('woff');
}

p {
  font-family: 'Nippo';
}

div {
  margin: 0 auto;
}

.separator::after,
.separator::before {
  content: "";
  border-top: 1px solid black;
  flex: 1;
}